@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111;
}


/*icons*/

.gmailicon{
  color: white;
  transition-duration: 200ms;
}

.gmailicon:hover{
  color: #ef4444;
  transition-duration: 300ms;
}

.instaicon{
  color: white;
  transition-duration: 200ms;
}

.instaicon:hover{
  background: #F09433;
  background: linear-gradient(to top right, #F09433 0%, #E6683C 25%, #DC2743 50%, #CC2366 75%, #BC1888 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 300ms;
}

.githubicon{
  color: white;
  transition-duration: 200ms;
}

.githubicon:hover{
  color: grey;
  transition-duration: 300ms;
}

.linkedinicon{
  color: white;
  transition-duration: 200ms;
}

.linkedinicon:hover{
  color: #0A66C2;
  transition-duration: 300ms;
}

.discordicon{
  color: white;
  transition-duration: 200ms;
}

.discordicon:hover{
  color: #6c67ea;
  transition-duration: 300ms;
}
